my-contact-list {

}

my-contact-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

my-contact-list li {
    cursor: pointer;
    padding: 0.5em;
}

my-contact-list li:hover {
    background-color: lightblue;
}

my-contact-list li.selected {
    background-color: blue;
}
